.ColorPallet{
    color: #3c3c3d;
    color:#2f333a;
    color:#1e1e1e;
    color:#0098ff;
    color:#0065a9;
}
.TextSec{
    background-color: #2f333a;
    width:60%;
    border-radius: 30rem;
    float:right;
    text-align: center;
    justify-content: left;
}